<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css') }}">
</head>
    
        <nav class="nav justify-content-center flex-xxl-column">
            <a class="nav-link" href="/" aria-current="page">Home</a>
            <a class="nav-link" href="/create">Adicionar</a>
            <a class="nav-link" href="/update">Alterar</a>
            <a class="nav-link" href="/recovery">Tabela</a>
            <a class="nav-link" href="/delete">Deletar</a>
        </nav>
