<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/recovery.css') }}">
    <script>
        function showAlert() {
            alert('Atenção: Existem produtos com quantidade menor que 5!');
        }
    </script>
</head>

<body>
    {% include 'home.html' %}

    {% if baixo_estoque %}
        <script>
            showAlert();
        </script>
    {% endif %}

    <h1>Tabela de produtos</h1>
    <div class="container">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Produto</th>
                    <th>Valor</th>
                    <th>Quantidade</th>
                    <th>Categoria</th>
                    <th>Validade</th>
                </tr>
            </thead>
            <tbody>
                {% if alert %}
                    <script>showAlert("{{ alert }}");</script>
                {% endif %}
                {% for produtos in produtos %}
                <tr>
                    <td>{{ produtos[0] }}</td>
                    <td>{{ produtos[1] }}</td>
                    <td>{{ produtos[2] }}</td>
                    <td>{{ produtos[3] }}</td>
                    <td>{{ produtos[4] }}</td>
                    <td>{{ produtos[5] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>